$ratio: 375 / 10;

@function px2rem($px) {
  @return $px / $ratio + rem;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@mixin leftBottom {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}


@mixin left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin rightBottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}